.chat-group-form
  %h1 新規チャットグループ
  = form_for @group, id: "new_chat_group", class: "new_chat_group" do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2
          = "#{ @group.errors.count } 件のエラーが発生しました。"
          %ul
          - @group.errors.full_messages.each do |msg|
            %li
              = msg
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :chat_group_name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", id: "chat_group_name", class: "chat-group-form__input"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :chat_group_チャットメンバーを追加, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          %input{ class: 'chat-group-form__input', id:'user-search-field', placeholder: '追加したいユーザー名を入力してください', type:'text' }
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :chat_group_チャットメンバー, "チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-users.clearfix
        #user-added
    .chat-group-form__field.clearfix
      .chat-group-form__field--right
        = f.submit "Save", class: "chat-group-form__action-btn", data:{disable_with: "Save"}
